<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/JosephFleetham">Joe</a>. A Web Developer
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'joe.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joseph Fleetham</h2>
      <br />
      <p>
        Joseph is a web developer and former business development manager.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />